/* le style pour l'étape 3 de sitePOMME */

body {
    margin: 10px 0;
    font: 0.8em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ddeeaa;
}

#conteneur {
    width: 770px;
    background-color: #fff;
    margin: 0 auto;
     border: 2px solid #ab4;
}

/* STYLE DE L'EN-TÊTE */

#header {
    height: 258px;
    /* background-image: url(../img/apple.jpg);
    background-repeat: no-repeat;
    background-position: -25px top; */
    /* la propriété background en raccourci */
    background: no-repeat url(../img/pomme1.png) left top;
    margin: 0;
}

#header a {
    display: block;
    width: 400px;
    height: 70px;
    background: no-repeat url(../img/pomme7.gif);
    position: relative;
    left: 350px;
    top: 15px;
    text-indent: -5000px;
    /* Indentation négative pour le masquer des visiteurs mais qu'il soit toujours lu par les moteurs de recherche */
}

/* LE STYLE POUR LA NAV */

ul#menu {
    margin: 0;
    padding: 0;
    height: 35px;
    list-style-type: none;
    background:repeat-x url(../img/pomme4.gif) 0 -25px;
    text-align: center;
}

#menu li {
    margin-top: 0;
    display: inline-block;
    width: 130px;
    line-height: 25px;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    border-right: 2px solid #dea;
}

#menu li a {
    text-decoration: none;
    color: #fff;
}

#menu li a:hover {
    background: repeat-x url(../img/bg_menu.gif) 0 0;
}

/* STYLE POUR LE CONTENU PRINCIPAL */

section#contenu {
   padding: 0 30px 0 100px;
   background: no-repeat url(../img/pomme5.gif) 15px 15px;

}

#contenu h2{
    padding-left: 25px;
    background: no-repeat url(../img/little_apple.gif) left bottom;
    color: #9b2;
    border-bottom: 1px solid #9b2;
    line-height: 25px;
    font-size: 1.4em;
}

#contenu h3 {
    color: #9b2;
    border-bottom: 1px solid #9b2;
    border-left: 3px solid #9b2;
    padding-left: 5px;
    margin-left: 15px;
}

#contenu p {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.7em;
}

#contenu blockquote {
    padding-left: 10px;
    border-left: 5px solid #9b2;
}

#contenu #a-droite {
    text-align: right;
    color: #8a0;
}

#contenu a {
    color: #8a0;
    text-decoration: none;
}

/* Dans :hover on va préciser le comportement de l'élément au survol */
#contenu a:hover {
    text-decoration: underline;
}

/* STYLE POUR LE FOOTER */

footer p {
    margin: 0;
    text-align: right;
    line-height: 30px;
    color: #8a0;
    padding-right: 10px;
}

